@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SEJA BEM-VINDO AO BMGB VIAGENS!</h1>
    <p class="texto">A BMGB é muito mais do que uma simples agência de viagens, é o seu portal para explorar os destinos mais fascinantes e realizar as aventuras dos seus sonhos. Com uma equipe de especialistas apaixonados por viagens, estamos comprometidos em proporcionar experiências excepcionais a todos os nossos clientes.</p>
</div>
