@model ProjetoAgencia.Models.Cadastro

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomePessoa" class="control-label">Nome Completo</label>
                <input asp-for="NomePessoa" class="form-control" />
                <span asp-validation-for="NomePessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinoId" class="control-label">Destino</label>
                <select asp-for="DestinoId" class ="form-control" asp-items="ViewBag.DestinoId">
                    <option >Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EstadiaId" class="control-label">Estadia</label>
                <select asp-for="EstadiaId" class ="form-control" asp-items="ViewBag.EstadiaId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PassageirosId" class="control-label">Passageiros</label>
                <select asp-for="PassageirosId" class ="form-control" asp-items="ViewBag.PassageirosId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TransporteId" class="control-label">Transporte</label>
                <select asp-for="TransporteId" class ="form-control" asp-items="ViewBag.TransporteId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AtracoesId" class="control-label">Atrações</label>
                <select asp-for="AtracoesId" class ="form-control" asp-items="ViewBag.AtracoesId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="NomeContato" class="control-label">Contato</label>
                <input asp-for="NomeContato" class="form-control" />
                <span asp-validation-for="NomeContato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
