@model ProjetoAgencia.Models.Cadastro

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomePessoa" class="control-label"></label>
                <input asp-for="NomePessoa" class="form-control" />
                <span asp-validation-for="NomePessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinoId" class="control-label">Destino</label>
                <select asp-for="DestinoId" class="form-control" asp-items="ViewBag.DestinoId"></select>
                <span asp-validation-for="DestinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadiaId" class="control-label">Estadia</label>
                <select asp-for="EstadiaId" class="form-control" asp-items="ViewBag.EstadiaId"></select>
                <span asp-validation-for="EstadiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassageirosId" class="control-label">Passageiros</label>
                <select asp-for="PassageirosId" class="form-control" asp-items="ViewBag.PassageirosId"></select>
                <span asp-validation-for="PassageirosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransporteId" class="control-label">Transporte</label>
                <select asp-for="TransporteId" class="form-control" asp-items="ViewBag.TransporteId"></select>
                <span asp-validation-for="TransporteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtracoesId" class="control-label">Atrações</label>
                <select asp-for="AtracoesId" class="form-control" asp-items="ViewBag.AtracoesId"></select>
                <span asp-validation-for="AtracoesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato" class="control-label"></label>
                <input asp-for="Contato" class="form-control" />
                <span asp-validation-for="Contato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
