html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.menu {
    background-color: #1D91C3 !important;
}
.rodape {
    background-color: #1D91C3 !important;
    color: white !important;
    padding-left:20px;
}
.navbar-brand {
    margin-top: -41px;
    margin-left: -26px;
}
img {
    width: 100%;
    height: 100%;
    object-position:center;
}
.img-logo{
    width: 92px;
    height: 95px;
}
.navbar-nav{
    margin-left: 270px;
}
.nav-item{
    margin-right: 30px;
}
.img-agencia {
    width: 570px;
    margin-left: 365px;
    margin-bottom: -31px;
}